.heading{
  position: relative;
  width: fit-content;
}
#hello{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
}
#main{
  color: rgb(51, 45, 45);
  margin: 22px;
  text-align: center;
  text-decoration: solid;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 200%;
  position: absolute;
}
.info{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  position: absolute;
  top: 13vh;
  left: 4vh;
  width: 55%;
  height: 20%;
  align-items: center;
}
.info h2{
  font-size: 200%;
  color: rgb(51, 52, 56);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.info p{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 2.5vh;
  font-size: 2ch;
}
.tech{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  top: 40vh;
  width: 100%;
  background-color: rgb(202, 193, 193);
  border-radius: 10px;
  

}
.tech h1{
  opacity: 1;
  color: rgb(52, 50, 48);
}
.tech img{
  width: 70px;
  height: 70px;
  width: fit-content;
  padding: 15px;
}
.skills{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contact{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}
.contact img{
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding: 10px;
}
.contact img:hover{
  opacity: 0.5;
}
.foot{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: rgb(172, 169, 169);
  width: 60%;
  margin: 0 auto;
  z-index: 2;
  border-radius: 40px;
  border: 1px solid gray;
  position: absolute;
  bottom: 10px;
  left: 20%;
}
.foot h1{
  font-family:'Courier New', Courier, monospace;
  font-size: 170%;
}
.foot h1:hover{
  cursor: pointer;
  opacity: 0.6;
}